quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@6d3675914eb5d3fe072d3212a90dfb55fe1c1df4
crypto-strategies @ git+https://github.com/QuantStrategyLab/CryptoStrategies.git@84e7bf5566167861f7b53bf74261364d055cd30f
python-binance
pandas
numpy
requests
google-cloud-firestore
google-cloud-storage
functions-framework
