crypto-strategies @ git+https://github.com/QuantStrategyLab/CryptoStrategies.git@af4df02f88177f0f80e4eab7d1ee04a27283159f
python-binance
pandas
numpy
requests
google-cloud-firestore
google-cloud-storage
functions-framework
