quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@7032cde4547e7ec59af15df8935d142461a77051
crypto-strategies @ git+https://github.com/QuantStrategyLab/CryptoStrategies.git@c0203b66746efb63e79f4d4bc9a65758c342817e
python-binance
pandas
numpy
requests
google-cloud-firestore
google-cloud-storage
functions-framework
